
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>JobView</h2>
    <form>
        <div class="form-group">
            <label for="InputName">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="InputSummary">Enter short sumary</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Summary">
        </div>
        <br />
        <div class="form-group">
            <label for="InputWorkExperience">Work Experience</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Work Experience">
        </div>
        <div class="form-group">
            <label for="InputStartDate">Starting Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Starting Date">
        </div>
        <div class="form-group">
            <label for="InputEndDate">Ending Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="End Date">
        </div>
        <div class="form-group">
            <label for="InputJobDescription">Job Description</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Job Description">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
